<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic-Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card> 
    <ion-card-header>
      <img src="../assets/download.png" />
      <ion-card-title class="head">Elysiar</ion-card-title>
      <ion-card-subtitle>Simple Mobile Application</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
